.Node-container {
  display: flex; /* Use Flexbox to arrange the node and pointer horizontally */
  align-items: center;
}

.Node {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 50%;
  background-color: #0099cc;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.Search-Node {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(0, 153, 204, 0.7);
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.pointer {
  width: 40px;
  height: 20px;
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  transform: rotate(0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 40px;
  margin-left: 50px;
  margin-top: -60px;
}

.pointer:hover {
  color: gray;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.StackNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 0%;
  background-color: #0099cc;
  width: 50px;
  height: 43px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #000000;
  /*make a bigger difference between the hight of the numbers*/
  line-height: 45px;

}

.QueueNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 0%;
  background-color: #ffcc00;
  width: 55px;
  height: 55px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #000000;
  /* Adjust line height for bigger difference between the heights of the numbers */
  line-height: 45px; /* You can adjust this value as needed */
  /*make the width between the numbers zero*/
  margin-right: 0px;
}

.priorityQueueNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 0%;
  background-color: transparent; /* Set background color to transparent */
  width: 55px;
  height: 110px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #000000;
  line-height: 1; /* Adjust line height */
  position: relative; /* Ensure position is set for pseudo-element positioning */
  overflow: hidden; /* Hide overflow content */
}

.priorityQueueNode::before,
.priorityQueueNode::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%; /* Set the height to 50% for each half */
  z-index: -1; /* Move the pseudo-elements behind the content */
}

.priorityQueueNode::before {
  top: 0;
  background-color: hsl(48, 100%, 50%); /* Color for the top half */
}

.priorityQueueNode::after {
  bottom: 0;
  background-color: hsl(38, 100%, 50%); /* Color for the bottom half */
  border-top: 2px solid #000; /* Divider line */
}

/* Adjust the span (or content element) to remain visible */
.priorityQueueNode span {
  position: relative;
}

/* Node.css */
.vertical-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vertical-span span {
  margin: 5px 0; /* Adjust the margin as needed */
}

.BinarySortNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 15%;
  background-color: #0099cc;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid #000000;
}





