.Node-container {
  display: flex; /* Use Flexbox to arrange the node and pointer horizontally */
  align-items: center;
}

.Node {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 50%;
  background-color: #0099cc;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.pointer {
  width: 40px;
  height: 20px;
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  transform: rotate(0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 40px;
  margin-left: 10px;
}

.pointer:hover {
  color: gray;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.StackNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 0%;
  background-color: #0099cc;
  width: 50px;
  height: 43px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #000000;
  /*make a bigger difference between the hight of the numbers*/
  line-height: 45px;

}


.QueueNode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  border-radius: 0%;
  background-color: #0099cc;
  width: 40px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border: 2px solid #000000;
  /* Adjust line height for bigger difference between the heights of the numbers */
  line-height: 45px; /* You can adjust this value as needed */
  /*make the width between the numbers zero*/
  margin-right: 0px;
}
