.popup-container {
  position: relative;
  display: inline-block;
}

.toggle-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 30%; /* 30% of the screen height */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.toggle-button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #ffcc00;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 90px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
}

.toggle-button:hover {
  background: linear-gradient(to bottom, #f8b133, #ffcc00); /* Gradient background on hover */
}

.toggle-button img {
  width: 1100%; /* Set the width to 100% to fit the button */
  height: 108%; /* Set the height to 100% to fit the button */
  display: block;
  margin: 0.4px auto 0 auto;
  transition: transform 0.2s ease;
}

.popup {
  position: fixed;
  top: 80px; /* Adjust the top position to be just below the upper menu */
  right: 0;
  width: 40%; /* 30% of the window width */
  height: calc(100% - 60px); /* Adjust for the height below the upper menu */
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Set a high z-index to ensure it's displayed on top */
}

.popup-header {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-header button {
  background: black;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px; /* Set the desired font size */
  font: 400 13.3333px Arial;
}

.popup-upper {
  background-color: #f0f0f0;
  height: 50%; /* Set the height to 50% */
  width: 100%; /* Full width */
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: auto;
  
}

.popup-lower {
  background-color: #ccc;
  height: 50%; /* Set the height to 50% */
  width: 100%; /* Full width */
  border-top: 1px solid #f0f0f0; /* Add a top border to separate from the upper part */
  overflow-y: auto;
  overflow-x: auto;
}

.tab {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color;
}

.tab button {
  background-color: #f0f0f0;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.tab button:focus {
  outline: none;
  background-color:#ccc;
}


.tab button:hover {
  background-color: #fff;
}

.tab-content {
  outline: none;
  background-color: #ccc;
  white-space: nowrap; /* Prevent tabs from wrapping to the next line */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

/* Apply the 'active' class to the visible content */
.tab-content > div.active {
  display: block;
}
