body {
 background-color: #282c34;
    color: #f8b133;
    /* make the text 10 pixals left*/
    margin-left: 20px;
    /* make the text 50 pixals down*/
    margin-top: 90px;
}

.side-button {
    /* the side button will have a fixed length of 100
       the text will be centered and won't be cut 
       the text won't get in a new line if too short of a place is left
       the button won't have a border or a back ground color
       the text will be whith
       when hovering the text will have a underline*/
        width: 117px;
        text-align: center;
        overflow: visible;
        white-space: wrap;
        text-overflow: ellipsis;
        border: none;
        background-color: transparent;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 7px;
        padding-top: 7px;
        cursor: pointer;
        /* no more then one button per line*/
        display: block;
        transition: background-color 0.5s ease;
    }
    
.side-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Subtle box shadow on hover */
    border-radius: 10px;
  }

  input.insert {
    width: 110px;
    /*make a space between the input and the button*/
    margin-bottom: 10px;
    /*make the input and the button look better with pading and circuler radios*/
    border-radius: 10px;
    border: 2px solid hsla(0, 7%, 11%, 0.55);
    padding: 5px;
    transition: background-color 0.5s ease; /* Add transition for background-color property */
  }
